@use "../01-settings" as settings;

.o-container {
  width: 100%; // Make it fluid by default
  max-width: settings.$container-max-width-default; // Default max width
  margin-left: auto;
  margin-right: auto;
  padding: 0 settings.$spacing-unit-base;

  @media (min-width: settings.$breakpoint-md) {
    max-width: settings.$container-max-width-md; // Adjust max-width for medium screens
  }

  @media (min-width: settings.$breakpoint-lg) {
    max-width: settings.$container-max-width-lg; // Adjust max-width for large screens
  }

  @media (min-width: settings.$breakpoint-xl) {
    max-width: settings.$container-max-width-xl; // Adjust max-width for extra large screens
  }
}