@use "variables" as vars;
@use "sass:math";

.admonitionblock {
  margin: vars.$spacing-admonition-margin-vertical 0;
  padding: vars.$spacing-admonition-padding;
  border-left: vars.$border-width-admonition solid;
  background-color: vars.$color-background-admonition;

  // Styles for nested blocks within admonitions
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  p, ul, ol, pre, .listingblock {
    margin-bottom: math.div(vars.$spacing-admonition-padding, 2); // Adjust as needed
  }
  // Ensure nested listing blocks have proper background and text color
  .listingblock pre {
    background-color: vars.$color-code-background;
    color: vars.$color-code-text;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td.icon {
    width: vars.$size-admonition-icon-width;
    padding-right: vars.$spacing-admonition-icon-padding-right;
    vertical-align: top;
    text-align: center;
  }

  .title {
    display: none;
  }

  td.icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: vars.$font-size-admonition-icon;
  }

  &.tip {
    border-color: vars.$color-admonition-tip;
    .icon::before {
      content: "\f0eb"; // lightbulb
      color: vars.$color-admonition-tip;
    }
  }

  &.note {
    border-color: vars.$color-admonition-note;
    .icon::before {
      content: "\f05a"; // info-circle
      color: vars.$color-admonition-note;
    }
  }

  &.important {
    border-color: vars.$color-admonition-important;
    .icon::before {
      content: "\f06a"; // exclamation-circle
      color: vars.$color-admonition-important;
    }
  }

  &.warning {
    border-color: vars.$color-admonition-warning;
    .icon::before {
      content: "\f071"; // exclamation-triangle
      color: vars.$color-admonition-warning;
    }
  }

  &.caution {
    border-color: vars.$color-admonition-caution;
    .icon::before {
      content: "\f06d"; // fire
      color: vars.$color-admonition-caution;
    }
  }
}
