@use "sass:color";

@use "../../01-settings/variables" as settings;

@mixin table-cell-base-styles {
  padding: settings.$spacing-unit-sm settings.$spacing-unit-sm;
  vertical-align: top;
}

@mixin table-header-footer-styles($border-side) {
  #{$border-side}: calc(2 * settings.$border-width-thin) solid settings.$color-border;
  background-color: color.adjust(settings.$color-background-light, $lightness: -3%);
  font-weight: bold;
}

table.tableblock {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;

  &.stretch {
    width: 100%;
  }

  &.frame-all {
    border: settings.$border-width-thin solid settings.$color-border;
  }

  &.frame-topbot {
    border-top: settings.$border-width-thin solid settings.$color-border;
    border-bottom: settings.$border-width-thin solid settings.$color-border;
  }

  &.frame-sides {
    border-left: settings.$border-width-thin solid settings.$color-border;
    border-right: settings.$border-width-thin solid settings.$color-border;
  }

  &.frame-none {
    border: none;
  }

  th,
  td {
    @include table-cell-base-styles;
    border: settings.$border-width-thin solid settings.$color-border;

    &.halign-left {
      text-align: left;
    }
    &.halign-center {
      text-align: center;
    }
    &.halign-right {
      text-align: right;
    }

    &.valign-top {
      vertical-align: top;
    }
    &.valign-middle {
      vertical-align: middle;
    }
    &.valign-bottom {
      vertical-align: bottom;
    }

    p.tableblock {
      margin-bottom: 0;
    }
  }

  &.grid-all {
    th,
    td {
      border: settings.$border-width-thin solid settings.$color-border;
    }
  }

  &.grid-cols {
    th,
    td {
      border-left: settings.$border-width-thin solid settings.$color-border;
      border-right: settings.$border-width-thin solid settings.$color-border;
    }
  }

  &.grid-rows {
    th,
    td {
      border-top: settings.$border-width-thin solid settings.$color-border;
      border-bottom: settings.$border-width-thin solid settings.$color-border;
    }
  }

  &.grid-none {
    th,
    td {
      border: none;
    }
  }

  thead th {
    vertical-align: bottom;
    @include table-header-footer-styles(border-bottom);
  }

  tbody + tbody {
    border-top: calc(2 * settings.$border-width-thin) solid settings.$color-border;
  }

  tfoot {
    tr {
      td, th {
        @include table-cell-base-styles;
        @include table-header-footer-styles(border-top);
      }
    }
  }

  &.stripes-odd {
    tbody tr:nth-of-type(odd) {
      background-color: settings.$color-background-light;
    }
  }

  &.stripes-even {
    tbody tr:nth-of-type(even) {
      background-color: settings.$color-background-light;
    }
  }

  &.stripes-all {
    tbody tr:nth-of-type(odd) {
      background-color: settings.$color-background-light;
    }
  }

  &.left {
    float: left;
    margin-right: calc(1.25 * settings.$spacing-unit-base);
  }

  &.right {
    float: right;
    margin-left: calc(1.25 * settings.$spacing-unit-base);
  }

  caption.title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}