@use "sass:color";

@use "../../01-settings/variables" as settings;

table.tableblock {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;

  &.stretch {
    width: 100%;
  }

  &.frame-all {
    border: 1px solid settings.$color-border;
  }

  &.frame-topbot {
    border-top: 1px solid settings.$color-border;
    border-bottom: 1px solid settings.$color-border;
  }

  &.frame-sides {
    border-left: 1px solid settings.$color-border;
    border-right: 1px solid settings.$color-border;
  }

  &.frame-none {
    border: none;
  }

  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid settings.$color-border;

    &.halign-left {
      text-align: left;
    }
    &.halign-center {
      text-align: center;
    }
    &.halign-right {
      text-align: right;
    }

    &.valign-top {
      vertical-align: top;
    }
    &.valign-middle {
      vertical-align: middle;
    }
    &.valign-bottom {
      vertical-align: bottom;
    }

    p.tableblock {
      margin-bottom: 0;
    }
  }

  &.grid-all {
    th,
    td {
      border: 1px solid settings.$color-border;
    }
  }

  &.grid-cols {
    th,
    td {
      border-left: 1px solid settings.$color-border;
      border-right: 1px solid settings.$color-border;
    }
  }

  &.grid-rows {
    th,
    td {
      border-top: 1px solid settings.$color-border;
      border-bottom: 1px solid settings.$color-border;
    }
  }

  &.grid-none {
    th,
    td {
      border: none;
    }
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid settings.$color-border;
    background-color: color.adjust(settings.$color-background-light, $lightness: -3%); // Consistent background
    font-weight: bold; // Consistent font weight
  }

  tbody + tbody {
    border-top: 2px solid settings.$color-border;
  }

  tfoot {
    tr {
      td, th {
        padding: 0.75rem;
        vertical-align: top;
        border: 1px solid settings.$color-border;
        border-top: 2px solid settings.$color-border; // Consistent border thickness
        background-color: color.adjust(settings.$color-background-light, $lightness: -3%); // Consistent background
        font-weight: bold; // Consistent font weight
      }
    }
  }

  &.stripes-odd {
    tbody tr:nth-of-type(odd) {
      background-color: settings.$color-background-light;
    }
  }

  &.stripes-even {
    tbody tr:nth-of-type(even) {
      background-color: settings.$color-background-light;
    }
  }

  &.stripes-all {
    tbody tr:nth-of-type(odd) {
      background-color: settings.$color-background-light;
    }
  }

  &.left {
    float: left;
    margin-right: 1.25rem;
  }

  &.right {
    float: right;
    margin-left: 1.25rem;
  }

  caption.title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}
