@use "sass:color";
@use "../../01-settings" as settings;

// Blocks
$spacing-block-padding-base: settings.$spacing-unit-base * 1.25; // For example blocks
$spacing-block-margin-vertical: settings.$spacing-unit-base * 1.5; // For quote blocks

$color-background-example: settings.$color-background-light;
$color-border-example: settings.$color-border;
$font-size-example-title: settings.$font-size-lg;

$color-border-quote: settings.$color-secondary;
$font-style-quote: italic;
$font-size-quote-attribution: settings.$font-size-sm;

$spacing-quote-padding: settings.$spacing-unit-base * 1.5 settings.$spacing-unit-base * 2;

$color-code-background: #282c34; // Specific dark background for code
$color-code-text: #abb2bf; // Specific light text for code
$color-code-border: #3e4451; // Specific border for code
$color-code-callout: #61afef; // Specific color for callout numbers

$spacing-code-padding: settings.$spacing-unit-base;
$border-radius-code: settings.$border-radius-base;
$font-size-code: settings.$font-size-sm;

// Admonition
$spacing-admonition-margin-vertical: 1.5em;
$spacing-admonition-padding: 1em;
$border-width-admonition: 4px;
$size-admonition-icon-width: 40px;
$spacing-admonition-icon-padding-right: 1em;
$font-size-admonition-icon: settings.$font-size-h4;
$color-background-admonition: color.adjust(settings.$color-primary, $alpha: -0.9);

$color-admonition-tip: settings.$color-primary;
$color-admonition-note: settings.$color-secondary;
$color-admonition-important: color.adjust(settings.$color-primary, $hue: -30deg, $saturation: 20%);
$color-admonition-warning: color.adjust(settings.$color-primary, $hue: -60deg, $saturation: 30%);
$color-admonition-caution: color.adjust(settings.$color-primary, $hue: -90deg, $saturation: 40%);
