@use "../01-settings" as settings;

pre,
code {
  font-family: settings.$code-font-family;
}

pre {
  padding: settings.$base-spacing-unit;
  margin-bottom: settings.$base-spacing-unit;
  overflow-x: auto;
  border-radius: settings.$border-radius;
}

code {
  color: settings.$secondary-color;
}

pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}
