@use "../01-settings" as settings;

pre,
code {
  font-family: settings.$font-family-code;
}

pre {
  padding: settings.$spacing-unit-base;
  margin-bottom: settings.$spacing-unit-base;
  overflow-x: auto;
  border-radius: settings.$border-radius-base;
}

code {
  color: settings.$color-secondary;
}

pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}
