@use "sass:color";
@use "../01-settings" as settings;

body {
  background-color: settings.$color-background;
  color: settings.$color-text;
  font-family: settings.$font-family-base;
  line-height: settings.$line-height-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: settings.$font-family-heading;
  margin-bottom: settings.$spacing-heading-bottom;
  color: color.scale(settings.$color-text, $lightness: -15%);
}

p {
  margin-bottom: settings.$spacing-unit-base;
}
