@use "sass:color";
@use "../01-settings" as settings;

body {
  background-color: settings.$background-color;
  color: settings.$text-color;
  font-family: settings.$base-font-family;
  line-height: settings.$base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: settings.$heading-font-family;
  margin-bottom: settings.$heading-margin-bottom;
  color: color.scale(settings.$text-color, $lightness: -15%);
}

p {
  margin-bottom: settings.$base-spacing-unit;
}
