@use "../01-settings" as settings;

.c-footer {
  padding: (settings.$base-spacing-unit * 2) 0;
  margin-top: settings.$base-spacing-unit * 2;
  border-top: 1px solid settings.$border-color;
  text-align: center;
  color: settings.$secondary-color;
  font-size: settings.$small-font-size;
}
