@use "../01-settings" as settings;

.c-footer {
  padding: (settings.$spacing-unit-base * 2) 0;
  margin-top: settings.$spacing-unit-base * 2;
  border-top: settings.$border-width-thin solid settings.$color-border;
  text-align: center;
  color: settings.$color-secondary;
  font-size: settings.$font-size-sm;
}
