@use "../01-settings" as settings;

/// _page.scss

// Components

// Component-specific variables for the page
$page-spacing-header-bottom: 1.5rem;
$page-font-size-title: 2.5rem;

.c-page {
  .c-page-header {
    margin-bottom: $page-spacing-header-bottom;
  }

  .c-page-title {
    font-size: $page-font-size-title;
    margin-bottom: settings.$spacing-element;
  }

  .c-page-content {
    line-height: settings.$line-height-base;
  }
}
