/// _page.scss

// Components
.c-page {
  .c-page-header {
    margin-bottom: 1.5rem;
  }

  .c-page-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .c-page-content {
    line-height: 1.7;
  }
}
