@use "../01-settings" as settings;

/// _page.scss

// Components

// Component-specific variables for the page
$page-spacing-header-bottom: 1.5rem;

.c-page {
  .c-page-header {
    margin-bottom: $page-spacing-header-bottom;
  }

  .c-page-title {
    font-size: settings.$font-size-h2;
    margin-bottom: settings.$spacing-element;

    @media (max-width: settings.$breakpoint-md - 1px) {
      font-size: settings.$font-size-h2-mobile;
    }
  }

  .c-page-content {
    line-height: settings.$line-height-base;
  }
}
